@import "tailwindcss";

:root {
  
  --bg-base: #FDFBF7;        
  --bg-surface: #FFF9E6;     
  --text-primary: #2C2D2F;   
  --text-muted: #71717A;     
  --border-default: #18181B; 
  
  --color-primary: #D4FF32;  
  --color-secondary: #5AB9EA;
  --color-success: #4ADE80;  
  --color-error: #FF6B6B;    
}

@theme {
  
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-success: var(--color-success);
  --color-error: var(--color-error);
}


@utility bg-base {
  background-color: var(--bg-base);
}

@utility bg-surface {
  background-color: var(--bg-surface);
}

@utility text-primary {
  color: var(--text-primary);
}

@utility text-muted {
  color: var(--text-muted);
}

@utility border-default {
  border-color: var(--border-default);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-primary);
  background-color: var(--bg-base);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
